@*@using MvcOnlineTicariOtomasyon.Models.Siniflar                       //İlk yaptığımız klasik Listeleme View'u
    @model List<Kategori>
    @{
        ViewBag.Title = "KategorileriListele";
        Layout = "~/Views/Shared/AdminLayout.cshtml";
    }

    <table class="table table-bordered" style="margin-top:20px;">
        <tr>
            <th>ID</th>
            <th>Kategori Adı</th>
            <th>İşlemler</th>
        </tr>
        @{int sayac = 0;}
    @foreach (var item in Model)
    {
        <tr>
            <td>@{sayac += 1;} @sayac</td>
                <td>@item.KategoriAdi</td>
                <td>
                    <a href="/Kategori/KategoriGuncelle/@item.KategoriID" class="btn" style="background-color:darkorange; color:aliceblue">Güncelle</a>
                    <a href="/Kategori/KategoriSil/@item.KategoriID" class="btn" style="background-color:firebrick; color:aliceblue">Sil</a>
                </td>
            </tr>
        }
    </table>
    <a href="/Kategori/KategoriEkle" class="btn btn-info">Kategori Ekle</a>
    <a href="/Kategori/PasifKategorileriListele" class="btn btn-info" style="background-color:olive; color:aliceblue;">Pasif Kategori Listesi</a>*@




@using MvcOnlineTicariOtomasyon.Models.Siniflar                 @*Sadece ilgili sayfanın görünümü için gerekli View(PagedList kullanımı ile)*@
@using PagedList
@using PagedList.Mvc
@model PagedList<Kategori>
@{
    ViewBag.Title = "KategorileriListele";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px;">

    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>İşlemler</th>
    </tr>
    @{int sayac = 0;}
    @foreach (var item in Model)
    {

        <tr>
            <td>@{sayac += 1;} @sayac</td>
            <td>@item.KategoriAdi</td>
            <td>
                <a href="/Kategori/KategoriGuncelle/@item.KategoriID" class="btn" style="background-color:darkorange; color:aliceblue">Güncelle</a>
                <a href="/Kategori/KategoriSil/@item.KategoriID" class="btn" style="background-color:firebrick; color:aliceblue">Sil</a>
            </td>
        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("KategorileriListele", new { sayfa }))    @*Sayfa değerine her tıklandığında, yeni bir sayfa oluşturarak bana Kategori Listesini aç*@

<a href="/Kategori/KategoriEkle" class="btn btn-info">Kategori Ekle</a>
<a href="/Kategori/PasifKategorileriListele" class="btn btn-info" style="background-color:olive; color:aliceblue;">Pasif Kategori Listesi</a>