@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Urun>
@{
    ViewBag.Title = "UrunlerListesi";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>ID</th>
        <th>Ürün Adı</th>
        <th>Ürün Markası</th>
        <th>Ürün Stoğu</th>
        <th>Ürün Alış Fiyatı</th>
        <th>Ürün Satış Fiyatı</th>
        <th>Ürün Kategorisi</th>
        <th>Ürün Görseli</th>
        <th>İşlemler</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UrunID</td>
            <td>@item.UrunAdi</td>
            <td>@item.UrunMarka</td>
            <td>@item.UrunStok</td>
            <td>@item.UrunAlisFiyati</td>
            <td>@item.UrunSatisFiyati</td>
            <td>@item.Kategori.KategoriAdi</td>
            <td>
                @if (item.UrunGorseli == null || item.UrunGorseli == "")
                {
                    <img src="~/Images/resim-yok.png" width="80" height="80" />
                }
                else
                {
                    <img src="@item.UrunGorseli" width="80" height="80" />
                }
            </td>
            <td>
                <a href="/Urun/UrunGuncelle/@item.UrunID" class="btn" style="background-color:darkorange; color:aliceblue">Güncelle</a>
                <a href="/Urun/UrunuPasifYap/@item.UrunID" class="btn" style="background-color:firebrick; color:aliceblue">Sil</a>
            </td>
        </tr>
    }
</table>
<a href="/Urun/UrunEkle" class="btn btn-info">Ürün Ekle</a>
<a href="/Urun/PasifUrunListesi" class="btn btn-info" style="background-color:olive; color:aliceblue;">Pasif Ürün Listesi</a>