@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Personel>
@{
    ViewBag.Title = "PasifPersonelListesi";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>ID</th>
        <th>Personel Görseli</th>
        <th>Personel Adı</th>
        <th>Personel Soyadı</th>
        <th>Departman</th>
        <th>İşlemler</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.PersonelID</td>
            <td>@item.PersonelGorseli</td>
            <td>@item.PersonelAdi</td>
            <td>@item.PersonelSoyadi</td>
            <td>@item.Departman.DepartmanAdi</td>
            <td>
                <a href="/Personel/PersoneliAktifYap/@item.PersonelID" class="btn" style="background-color:mediumpurple; color:aliceblue">Aktif Et</a>
            </td>
        </tr>
    }
</table>
<a href="/Personel/PersonelListesi" class="btn btn-info" style="background-color:darkcyan; color:aliceblue;">Aktif Personel Listesi</a>