@model MvcOnlineTicariOtomasyon.Models.Siniflar.Personel
@{
    ViewBag.Title = "PersonelEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Personel Ekleme Sayfası</h2>
<br />

<form class="form-group" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    Personel Görseli<br />
    @Html.EditorFor(x => x.PersonelGorseli, new { htmlAttributes = new { @class = "form-group", type = "file" } })
    <br />
    @*<div class="col-md-10">
        @Html.EditorFor(x => x.PersonelGorseli, new { htmlAttributes = new { @class = "form-group", type = "file" } })
    </div>*@


    Personel Adı
    @Html.TextBoxFor(x => x.PersonelAdi, new { @class = "form-control" })
    <br />

    Personel Soyadı
    @Html.TextBoxFor(x => x.PersonelSoyadi, new { @class = "form-control" })
    <br />

    Departman
    @Html.DropDownListFor(x => x.Departmanid, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    <br />

    <button class="btn btn-success">Kaydet</button>
    <a href="/Personel/PersonelListesi" class="btn btn-info" style="background-color:darkcyan; color:aliceblue;">Personel Listesi</a>
</form>

