@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Personel>
@{
    ViewBag.Title = "PersonelListesi";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>ID</th>
        <th>Personel Görseli</th>
        <th>Personel Adı</th>
        <th>Personel Soyadı</th>
        <th>Departman</th>
        <th>İşlemler</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.PersonelID</td>
            <td>
                @if (item.PersonelGorseli == null || item.PersonelGorseli == "")
                {
                    <img src="~/Images/resim-yok.png" width="80" height="80" />
                }
                else
                {
                    <img src="@item.PersonelGorseli" width="80" height="80" />
                }
            </td>
            <td>@item.PersonelAdi</td>
            <td>@item.PersonelSoyadi</td>
            <td>@item.Departman.DepartmanAdi</td>
            <td>
                <a href="/Departman/DepartmanPersonelSatis/@item.PersonelID" class="btn" style="background-color:forestgreen; color:aliceblue">Detay</a>
                <a href="/Personel/PersonelGetir/@item.PersonelID" class="btn" style="background-color:darkorange; color:aliceblue">Güncelle</a>
                <a href="/Personel/PasifPersonelYap/@item.PersonelID" class="btn" style="background-color:firebrick; color:aliceblue">Sil</a>
            </td>
        </tr>
    }
</table>
<a href="/Personel/PersonelEkle" class="btn btn-info">Personel Ekle</a>
<a href="/Personel/PasifPersonelListesi" class="btn btn-info" style="background-color:olive; color:aliceblue;">Pasif Personel Listesi</a>