@model MvcOnlineTicariOtomasyon.Models.Siniflar.Personel
@{
    ViewBag.Title = "PersonelEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Personel Ekleme Sayfası</h2>
<br />



@using (Html.BeginForm("PersonelEkle", "Personel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            Personel Görseli<br />
            <input type="file" name="PersonelGorseli" />
            <br />
            @*@Html.EditorFor(x => x.PersonelGorseli, new { htmlAttributes = new { @class = "form-group", type = "file" } })
            <br />*@
        </div>
        <div class="form-group">
            Personel Adı
            @Html.TextBoxFor(x => x.PersonelAdi, new { @class = "form-control" })
            <br />
        </div>
        <div class="form-group">
            Personel Soyadı
            @Html.TextBoxFor(x => x.PersonelSoyadi, new { @class = "form-control" })
            <br />
        </div>
        <div class="form-group">
            Departman
            @Html.DropDownListFor(x => x.Departmanid, (List<SelectListItem>)ViewBag.dgr121, new { @class = "form-control" })
            <br />
        </div>
    </div>
    <button class="btn btn-success">Kaydet</button>
    <a href="/Personel/PersonelListesi" class="btn btn-info" style="background-color:darkcyan; color:aliceblue;">Personel Listesi</a>
}

